[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A multiarch test template for Jenkins.
[access "refs/*"]
	owner = group user/James E. LaBarre (rh-jelabarre)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/James E. LaBarre (rh-jelabarre)
	label-Verified = -1..+1 group user/James E. LaBarre (rh-jelabarre)
	push = group user/James E. LaBarre (rh-jelabarre)
	read = group user/James E. LaBarre (rh-jelabarre)
	rebase = group user/James E. LaBarre (rh-jelabarre)
	removeReviewer = group user/James E. LaBarre (rh-jelabarre)
	submit = group user/James E. LaBarre (rh-jelabarre)
[access "refs/heads/*"]
	create = group user/James E. LaBarre (rh-jelabarre)
	push = +force group user/James E. LaBarre (rh-jelabarre)
	pushMerge = group user/James E. LaBarre (rh-jelabarre)
	read = group user/James E. LaBarre (rh-jelabarre)
[access "refs/tags/*"]
	push = group user/James E. LaBarre (rh-jelabarre)
	push = +force group user/James E. LaBarre (rh-jelabarre)
